<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity5">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>
        <header th:replace="navBar"></header>

        <div>
            <h2 class="text-center" style="padding-top: 12%" sec:authorize access="isAuthenticated()">
                Olá <span sec:authentication="principal.username"></span>, Home Page aqui!</h2>
        </div>
        
    </body>
</html>
